.title-container {
    flex: 0 0 30%;
    background-image: url('~src/assets/images/pattern-bg.png');
    background-size: cover;
    background-position: center;
}

.ip-info-container {
    width: 70%;
    top: 23%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 10;
}
// @include media-breakpoint-only(sm) {  
//     .ip-info-container {
//         width: 40%;
//         .ip-info {
//             border: 0;
//         }
//     }
// }

@media (min-width: 576px) and (max-width: 768px) {  
    .ip-info-container {
        width: 40%;
        .ip-info {
            border: none !important;
        }
    }
}

#map {
    z-index: 5;
}