.title-container {
    flex: 0 0 30%;
    background-image: url('~src/assets/images/pattern-bg.png');
    background-size: cover;
    background-position: center;
}

.ip-info-container {
    width: 70%;
    top: 21%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 10;
}

@media (max-width: 768px) {  
    .ip-info-container {
        top: 18%;
        .ip-info {
            border: none !important;
        }
    }
}

#map {
    z-index: 5;
}